<main>
    <section class="tarefas">
        <div class="tarefas">
            <form action="">
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso de JavaScript</label>

                <button>
                    <img src="/imagens/x.png" alt="icone x de excluir">
                </button>
            </form>
        </div>
        <div class="informacoes">
            <p>5 tarefas ativas</p>
            <a href="Limpar tarefas"></a>
        </div>
    </section>
</main>